
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/mono /usr/bin/visualnano
Name=Visual Nano
Icon=gedit
MimeType=text/plain;
